body{
    margin: 0 auto;
}

.header-area{
    width: 100%;
    height: 20vh;
    background-color: rgb(236, 236, 236);
    box-shadow: 2px 3px 10px green;
}

.header-content{
    display: flex;
}

.logo-header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20vh;

    
}
@media (max-width: 500px) {
    .logo-header-content{
        width: 100%;
    }
}

.logo-header{
    width:15vh ;
    height: auto;
    border-radius: 200px;
}

.link-logo{
    border-radius: 200px;
}

.title-header-content{
    width: 60%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 500px) {
    .title-header-content{
        display: none;
    }
}

/* Body */

.body-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto ;
    margin-top: 20px;
}

.body-content{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
}

.article-product{
    width: 20vw;
    height: 55vh;
    border: 2px solid black ;  
    margin: 10px;
    cursor: pointer;
    transition: .2s ease;
}

.article-product:hover{
    box-shadow: 2px 2px 10px rgb(54, 133, 54) ;
    transition: .2s ease;
}

.img-Article-product{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60%;
}

.info-Article-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
    border-top: 2px solid black  ;
    box-shadow: 0px -2px 10px ;
}

.img-product{
    width: 100%;
    height: auto;
}

.title-area{
    width: 100%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-product{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
}

.desc-area{
    align-items: flex-end;
    width: 100%;
    height: 60%;
}

.desc-product{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    height: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight:  bold;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}